.table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.sectionTable {
    overflow-x: scroll;
}

.table td, .table th {
    border: 2px solid #000000;
}