.App {
  margin: 10px auto;
  max-width: 1500px;
  position: relative;
}

.AppOverlay {
  overflow-y: hidden;
  height: 97.5vh;
}

.pageTitle {
  text-align: center;
}

@media screen and (max-width: 1520px) {
  .App {
    padding: 0 10px;
  }
}

